
# You will need to create a passwords.yml file
# This is an example of what it will look like
# Obviously you do not commit your passwords.yml to repository

django:
    secret_key: <some random number>
    debug: True

wsl_database:
    username: postgres
    password: <some random password>
    host: localhost
    port: 5432



