{% extends "base.html" %}

{% block title %}
Star Chaser
{% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>

Stars you chased:
<ul>
    {% for r in rounds %}
    <li>Round {{ r.id }}: {{ r.name }} </li>
    {% endfor %}
</ul>
<p></p>
Your total score is {{ user.profile.total_score }}

<p></p>
Leaderboard:
<ul>
    {% for l in leader_board %}
    <li>Player {{ l.id }}: {{ l.username }} {{ l.profile.total_score}} </li>
    {% endfor %}
</ul>

<br>
<button type="submit" value="foo" onclick="window.location.href='{% url 'player_pick_star' %}'" name='mybtn2'>Select a star</button>

<!--
<br>
<a href="{% url 'new_plasticc_star' %}">Add a new star</a>
<a href="{% url 'new_plasticc_sample' %}">Add a new sample</a>
<a href="{% url 'new_gameplay_round' %}">Add a new gameplay round</a>
-->

{% endblock %}