{% extends "base.html" %}
<!-- { % load crispy_forms_tags % } -->

{% block title %}
Star Chaser
{% endblock %}

{% block content %}

<form role="form" action="{% url 'player_login' %}" method="post">

    {% csrf_token %}

    <p>Please login.</p>

    {{ form }}
<!--  { { form | crispy } }  -->  

    <button type="submit" class="btn btn-success">Sign in</button>
</form>

===================

<h2>Login Form</h2>
<form action="{% url 'player_login' %}"   method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>


{% endblock %}