{% extends 'base.html' %}

{% block title %}
New Bet
{% endblock %}

{% block content %}
<h1>Place your Bets!</h1>
Guidance is provided by B.Trotta and K.Boone using TensorFlow AI.
<br>
You can preview your score (but that would cheating).
<br>
<label>User: </label> {{ user }}
<br>
<label>Star: </label> {{ star.star_id }}
<br>
<div class='row'>
    <div class='col-md-3'>
        <br>
        <form method="post" action="{% url 'new_bet' id=star_id %}">
            {{ form }}
            {% csrf_token %}
            <br>
            <button type="submit">Cheat</button>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

</div>

{% endblock %}