{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block content %}
{{ mytype }}
Select a star from the available list.

<!--
<br>------------------ df_star_html
<br>
{ % autoescape off % }
{ { df_star_html } }
{ % endautoescape % }
<br>------------------
-->

<br>
<div class="col-md-12">
    <table border="1">

        <tr>
            <th>-</th>
            <th colspan={{present_pick_star.star_hdr_len}}>Available</th>
            <th>-</th>
            <th colspan={{present_pick_star.btrotta_hdr_len}}>B.Trotta</th>
            <th>-</th>
            <th colspan={{present_pick_star.kboone_hdr_len}}>K.Boone</th>
        </tr>

        <tr>
            <th>sel</th>

            {% for colhdr in present_pick_star.star_hdr %}
            <th>{{colhdr}}</th>
            {% endfor %}

            <th>-</th>

            {% for colhdr in present_pick_star.btrotta_hdr %}
            <th>{{colhdr}}</th>
            {% endfor %}

            <th>-</th>

            {% for colhdr in present_pick_star.kboone_hdr %}
            <th>{{colhdr}}</th>
            {% endfor %}

        </tr>

        {% for row in present_pick_star.rows %}
        <tr>
            <td> <input type="radio" name="star_select"></td>

            {% for value in row.star_values %}
            <td>{{value}}</td>
            {% endfor %}

            <td>-</td>

            {% for value in row.btrotta_values %}
            <td>{{value}}</td>
            {% endfor %}

            <td>-</td>

            {% for value in row.btrotta_values %}
            <td>{{value}}</td>
            {% endfor %}


        </tr>
        {% endfor %}
    </table>
</div>


<div class="col-md-12">
    <br>
    <button type="submit" value="foo" onclick="window.location.href='{% url 'player_place_bets' %}'" name='mybtn2'>Chase
        it</button>
    <br>
    <button type="help" value="foo" onclick="window.location.href='{% url 'game_help' %}'" name='mybtn2'>Help</button>
    <br>
    <button type="info" value="foo" onclick="window.location.href='{% url 'game_info' %}'" name='mybtn2'>Info</button>
</div>


{% endblock %}