{% load static %}
<html>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            ////////////////////////////////////////////////
            // Create the data table.
            var data_2 = new google.visualization.DataTable();
            //data_2.addColumn('date', "mjd")
            data_2.addColumn('number', "mjd")
            data_2.addColumn('number', '0');
            data_2.addColumn('number', '1');
            data_2.addColumn('number', '2');
            data_2.addColumn('number', '3');
            data_2.addColumn('number', '4');
            data_2.addColumn('number', '5');
            data_2.addRows( {{ timeseries_data }} )

            // Set chart options
            var options_2 = {
                'title': 'Fl3 by Passband vs Day',
                'width': 300,
                'height': 600,
                'interpolateNulls': true
            };

            // Instantiate and draw our chart, passing in some options.
            var chart_2 = new google.visualization.LineChart(document.getElementById('chart_div_2'));
            //var chart_2 = new google.visualization.ScatterChart(document.getElementById('chart_div_2'));
            chart_2.draw(data_2, options_2);

        }
    </script>
</head>

<body>

    <h1>
        A Chart
    </h1>
  <p>
    <label>Star: </label> {{ star.star_id }}
  </p>

    <!--Div that will hold the star chart-->
    <div id="chart_div_2"></div>
</body>

</html>