option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "starchaser.starchaser.settings"
    "PYTHONPATH": "/opt/python/current/app/starchaser:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: starchaser/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

