container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python starchaser/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python starchaser/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python starchaser/manage.py collectstatic --noinput"
  04_importmetadata:
    command: "source /opt/python/run/venv/bin/activate &&  python starchaser/manage.py import_metadata starchaser/training_set_metadata.csv"
  05_importtimeseries:
    command: "source /opt/python/run/venv/bin/activate &&  python starchaser/manage.py import_timeseries starchaser/training_set.csv"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "settings"
    PYTHONPATH: "./:./starchaser:./starchaser/starchaser"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: starchaser/starchaser/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

