container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python starchaser/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python starchaser/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python starchaser/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "starchaser/settings"
    "PYTHONPATH": "/opt/python/current/starchaser:/opt/python/current/starchaser/starchaser"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: starchaser/starchaser/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

