<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Why...</title>
</head>

<body>
    <h1>Why Make a Game?</h1>

    <p>
        The intent is to demonstrate how machine learning can be used to enrich a user's web-application experience.
    </p>
    <p>
        In the game the user is tasked with classifying a star. Is it a:
        <li>Supernova?
        <li>Pulsar?
        <li>Binary-Pair?
    </p>
    <p>
        Experts, in the form of a machine learning model, are 'on hand' to help.
        They bring decades of experience and
        a rich knowledge based on deep data analysis.
        All this is made easily accessable to the user
    </p>
    <p>
        <b>To help the user win!</b>
    </p>

    <button onclick="closeWin()">Close</button>

    <script>

        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>