<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Why...</title>
</head>

<body>
    <h1>Why Make a Game?</h1>

    <p>
        Answer: To demonstrate how user's website experience can be enriched by careful application of Machine Learning.
    </p>
    <p>
        In the game the user is given a difficult task: classify a SuperNova using astronomical timeseries datapoints.
    </p>
    <p>
        To help, experts are "on hand" to offer advice.
        This advice comes from machine learning models which are the result of decades of astronomical study and petabytes of data analysis.
    </p>
    <p>
        Provided in an understandable form and at the right time, the advice of experts (from the machine learning models) help the user win the game.
    </p>
    <button onclick="closeWin()">Close</button>

    <script>

        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>