<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Why...</title>
</head>

<body>
    <h1>Why Make a Game?</h1>

    <p>
        The game demonstrates how Machine Learning can be integrated into a web application to enrich the user's experience.
    </p>
    <p>
        In the game the user is given a difficult task: classify a SuperNova using astronomical timeseries datapoints.
    </p>
    <p>
        Experts are "on hand" to offer advice. This advice is actually a set of machine learning models reflecting decades of astronomical study and petabytes of data analysis.
    </p>
    <p>
        Integrated into the flow of the game, the models' recommendations are provided to the user in a natural and meaningful way.
        This helps the user make the classification, and therby win the game !

    </p>
    <button onclick="closeWin()">Close</button>

    <script>

        function closeWin() {
            window.close();
        }
    </script>

</body>


</html>