{% extends "base.html" %}

{% block title %}
Star Chaser
{% endblock %}

here

{% block content %}
<div class="jumbotron">
    <div class="container">

        <h2>
            Let's play Starchaser!
        </h2>

         <br>
         Congratulations!  You're now a certified astronomer.
         <br>
         All you need to do (to win this game) is classify stars.
         <br>
         Is it a supernova? A pulsar? Or something else...
         <p>
         <br>
         Can you crack the astronomical code?!
         <br>
         Use the "Create Account" button to get started.


    </div>
</div>

<h3>BUT WHY ?!</h3>
<ul>
	<li><a href="{% url 'ref01_why_game' %}" target="_blank">Why Make a Game?</a></li>
	<li><a href="{% url 'ref05_this_web_application' %}" target="_blank">How do you integrate Machine Learning into a Website?</a></li>
	<li><a href="{% url 'ref08_plasticc_and_kaggle' %}" target="_blank">What is PLAsTiCC and the Kaggle Dataset?</a></li>
	<li><a href="{% url 'ref04_variety_of_approaches' %}" target="_blank">What Machine Learning Approaches are Available?</a></li>
	<li><a href="{% url 'ref06_building_a_model' %}" target="_blank">How do you Build a Model?</a></li>
	<li><a href="{% url 'ref09_metrics' %}" target="_blank">Metrics: Why are They Important?</a></li>
</ul>


{% endblock %}
