{% extends "base.html" %}

{% block title %}
StarChaser
{% endblock %}

here

{% block content %}
<div class="jumbotron">
    <div class="container">

        <h2>
            Let's play StarChaser!
        </h2>
      <br>
        In this game you're an astronomer classifying stars.
        <br>
            Is it a supernova? A pulsar? Or something else?
            <br>
            You have access to the data, and top researchers are there to help, but can you crack the astronomical classification code?!
             <br>
      <p>
        <br>
            Good luck on your new role, astronomer!
    </p>


    </div>
</div>

<h3>Context</h3>
<li><a href="{% url 'ref01_why_game' %}" target="_blank">Why Make a Game?</a></li>
<li><a href="{% url 'ref05_this_web_application' %}" target="_blank">The Design</a></li>
<li><a href="{% url 'ref08_plasticc_and_kaggle' %}" target="_blank">PLAsTiCC and the Kaggle Dataset...</a></li>
<li><a href="{% url 'ref04_variety_of_approaches' %}" target="_blank">Variety of Approaches...</a></li>
<li><a href="{% url 'ref06_building_a_model' %}" target="_blank">To Build a Model...</a></li>
<li><a href="{% url 'ref09_metrics' %}" target="_blank">Metrics and Why They're Important</a></li>
{% endblock %}